

#team_digital_subCopies {
	left:1312px;
	top:519px;
	width:519px;
	height:354px;
	background-image:url(../img/team_digital_subCopies.png);
}

#team_post_subCopies {
	left:859px;
	top:524px;
	width:202px;
	height:183px;
	background-image:url(../img/team_post_subCopies.png);
}
