

#linkedin_button {
	left:1506px;
	top:495px;
	width:58px;
	height:58px;
	background-image:url(../img/linkedin_button.png);
}

#twitter_button {
	left:1584px;
	top:497px;
	width:66px;
	height:54px;
	background-image:url(../img/twitter_button.png);
}

#vimeo_button {
	left:1665px;
	top:498px;
	width:61px;
	height:53px;
	background-image:url(../img/vimeo_button.png);
}
