

#bg_the_col {
	left:0px;
	top:0px;
	width:1920px;
	height:1080px;
	background-image:url(../img/bg_the_col.jpg);
}

#bg_the_team {
	left:0px;
	top:0px;
	width:1920px;
	height:1080px;
	background-image:url(../img/bg_the_team.jpg);
}

#bg_the_work {
	left:0px;
	top:0px;
	width:1920px;
	height:1080px;
	background-image:url(../img/bg_the_work.jpg);
}
