.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#logo {
  /* width:237px; */
  height: 60px;
}

.header-links {
  height: 30px;
}

#talk-to-us-button {
  height: 55px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-nav {
  align-items: center !important;
}

#video {
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: -1;
  /* height: 100%; */
  width: 100%;
}

/* small screen sizes */
@media only screen and (max-width: 576px) {
  #logo {
    height: 60px;
  }

}

/* desktop and smaller*/
@media only screen and (max-width: 900px) {
  #video {
    height: 100%
  }

  .header {
    max-width: 80% !important;
  }

  .copy {
    max-width: 100% !important;
  }
}

#team-copy-not-pic {
  display: none;
}

#team_bg {
  /* width: 90%; */
  margin: 20px 0px 50px 0px;
  /* background-image: url('./img/team_bg_img.jpg'); */
}


.bg {
  position: absolute;
  top: 0;
  background-image: url("./img/bg.jpg");
  background-repeat: repeat-y !important;
  height: 100vh;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll;

}

#spacer {
  height: 110px;
  z-index: -1;
}

#test-container {
  /* background-color: azure; */
}

.header {
  max-width: 50%;
  margin: 20px;
}

#collective-header {
  max-width: 90%;
  margin-top: 90px;
}

hr {
  border: #c6d42c 2px solid !important;
  opacity: 1 !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;

}

.copy {
  max-width: 90%;
}

#office_bg {
  display: flex;
  height: 80vh;
  width: 100%;
  /* align-items: center; */
  background-image: url('./img/team_bg_img.jpg');
  background-size: cover;
}

.grey {
  display: flex;
  align-items: center;
}

#grey-1 {
  background-image: url('./img/background_grey.png');
}

#grey-2 {
  /* height:  80vh; */
  /* display: flex;
  justify-self: center;
  align-items: center; */
  /* flex-grow: .8; */
  background-image: url('./img/background_grey_2.png');
  /* opacity: .1; */
}

#grey-3 {
  /* height:  80vh; */
  /* display: flex;
  justify-self: center;
  align-items: center; */
  /* flex-grow: 1; */
  background-image: url('./img/background_grey_3.png');
  /* opacity: .1; */
}

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
}

.font-titles {
  font-weight: 700;
  font-size: 2.5em;
}

.team-title-center {
  /* align-items: center; */
  /* height: 80vh; */
  width: 100%;
  color: aliceblue;
}

.team_titles {
  /* padding: 50px; */
}

.test-span {
  color: azure;
  padding: 5px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}

#test-image-grey {
  /* height: 88%; */
  width: 35%;
  background-image: url('./img/background_grey.png');
  position: absolute;
  top: 20px;
  left: 0px;
}

#test-image-grey-2 {
  /* height: 88%; */
  width: 35%;
  background-image: url('./img/background_grey.png');
  position: absolute;
  top: 20px;
  left: 32.5%;
}

#test-image-grey-3 {
  /* height: 88%; */
  width: 35%;
  background-image: url('./img/background_grey.png');
  position: absolute;
  top: 20px;
  right: -1.5px;
}

.team_super_titles {
  width: 35%;
  ;
  margin-top: 50px;
  padding: 70px;
  z-index: 10;
}

#team_prod {
  position: absolute;
  /* top: 20px; */
  top: 7em;
  left: 0px;
}

#team_prod_subCopies {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 35%;
  padding: 100px;
  margin-top: 50px;
}

#team_digital {
  position: absolute;
  top: 18px;
  right: 0px;
  padding-left: 120px;
  padding-right: 120px;
}

#team_digital_subCopies {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 35%;
  padding: 50px;
  margin-top: 100px;
}

#team_post {
  position: absolute;
  top: 18px;
  left: 32.5%;
  padding-left: 140px;
  padding-right: 140px;
}

#team_post_subCopies {
  position: absolute;
  top: 50px;
  left: 32.5%;
  width: 35%;
  padding: 135px;
  margin-top: 15px;
}


@media only screen and (max-width: 993px) {

  #who_we_are {
    max-width: 80% !important;
  }
}

/* large screens */
@media only screen and (min-width: 992px) {
  #logo {
    height: 70px;
  }

  .container {
    max-width: 1200px !important;
  }

}

/* super large screens */
@media only screen and (min-width: 1200px) {

  #team_prod {
    top: 8em;
  }


}