body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}


#logo {
	left:51px;
	top:35px;
	width:237px;
	height:122px;
	background-image:url(../img/logo.png);
}

#header_talk_btn {
	left:1615px;
	top:45px;
	width:262px;
	height:106px;
	background-image:url(../img/header_talk_btn.png);
}

#header_the_collective {
	left:1266px;
	top:79px;
	width:318px;
	height:47px;
	background-image:url(../img/header_the_collective.png);
}

#header_the_team {
	left:1026px;
	top:78px;
	width:197px;
	height:47px;
	background-image:url(../img/header_the_team.png);
}

#header_the_work {
	left:771px;
	top:78px;
	width:207px;
	height:47px;
	background-image:url(../img/header_the_work.png);
}