body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#logo {
	left:120px;
	top:67px;
	width:346px;
	height:63px;
	background-image:url(../img/logo.png);
}

#header_talk_btn {
	left:1555px;
	top:51px;
	width:225px;
	height:93px;
	background-image:url(../img/header_talk_btn.png);
}

#header_the_collective {
	left:1257px;
	top:79px;
	width:287px;
	height:44px;
	background-image:url(../img/header_the_collective.png);
}

#header_the_team {
	left:1063px;
	top:79px;
	width:179px;
	height:44px;
	background-image:url(../img/header_the_team.png);
}

#header_the_work {
	left:860px;
	top:79px;
	width:187px;
	height:44px;
	background-image:url(../img/header_the_work.png);
}

#bg {
	left:0px;
	top:0px;
	width:1920px;
	height:1080px;
	background-image:url(../img/bg.jpg);
}

#team_super {
	left:296px;
	top:286px;
	width:1333px;
	height:210px;
	background-image:url(../img/team_super.png);
}

#team_copy {
	left:145px;
	top:593px;
	width:1634px;
	height:199px;
	background-image:url(../img/team_copy.png);
}

#team_bg_img {
	left:0px;
	top:0px;
	width:1804px;
	height:785px;
	background-image:url(../img/team_bg_img.jpg);
}

#team_digital {
	left:1438px;
	top:612px;
	width:270px;
	height:50px;
	background-image:url(../img/team_digital.png);
}

#team_post {
	left:871px;
	top:612px;
	width:183px;
	height:50px;
	background-image:url(../img/team_post.png);
}

.fpo {
	opacity: .3;
}
#team_prod {
	left:130px;
	top:612px;
	width:457px;
	height:50px;
	background-image:url(../img/team_prod.png);
}

#collective_copy {
	left:86px;
	top:628px;
	width:1732px;
	height:101px;
	background-image:url(../img/collective_copy.png);
}

#collective_super {
	left:106px;
	top:337px;
	width:1710px;
	height:131px;
	background-image:url(../img/collective_super.png);
}

#background_grey {
	left:56px;
	top:238px;
	width:632px;
	height:790px;
	background-image:url(../img/background_grey.png);
}

#team_prod_subCopies {
	left:201px;
	top:523px;
	width:317px;
	height:390px;
	background-image:url(../img/team_prod_subCopies.png);
}

#team_prod_title_fpo {
	left:130px;
	top:428px;
	width:457px;
	height:49px;
	background-image:url(../img/team_prod_title_fpo.png);
}

#team_digital_subCopies {
	left:1312px;
	top:519px;
	width:519px;
	height:354px;
	background-image:url(../img/team_digital_subCopies.png);
}

#team_post_subCopies {
	left:859px;
	top:524px;
	width:202px;
	height:183px;
	background-image:url(../img/team_post_subCopies.png);
}

#team_bg_img_2 {
	left:57px;
	top:238px;
	width:1810px;
	height:790px;
	background-image:url(../img/team_bg_img_2.png);
}

#background_grey_2 {
	left:687px;
	top:238px;
	width:550px;
	height:790px;
	background-image:url(../img/background_grey_2.png);
}

#background_grey_3 {
	left:1236px;
	top:238px;
	width:632px;
	height:790px;
	background-image:url(../img/background_grey_3.png);
}

#col_mem_1 {
	left:234px;
	top:208px;
	width:150px;
	height:149px;
	background-image:url(../img/col_mem_1.png);
}

#col_mem_2 {
	left:399px;
	top:208px;
	width:150px;
	height:149px;
	background-image:url(../img/col_mem_2.png);
}

#col_mem_3 {
	left:564px;
	top:208px;
	width:149px;
	height:149px;
	background-image:url(../img/col_mem_3.png);
}

#col_mem_4 {
	left:728px;
	top:208px;
	width:151px;
	height:149px;
	background-image:url(../img/col_mem_4.png);
}

#col_mem_5 {
	left:863px;
	top:208px;
	width:184px;
	height:149px;
	background-image:url(../img/col_mem_5.png);
}

#col_mem_6 {
	left:1061px;
	top:208px;
	width:150px;
	height:149px;
	background-image:url(../img/col_mem_6.png);
}

#col_mem_7 {
	left:1230px;
	top:208px;
	width:149px;
	height:150px;
	background-image:url(../img/col_mem_7.png);
}

#col_mem_8 {
	left:1400px;
	top:208px;
	width:149px;
	height:150px;
	background-image:url(../img/col_mem_8.png);
}

#col_mem_9 {
	left:1567px;
	top:208px;
	width:149px;
	height:150px;
	background-image:url(../img/col_mem_9.png);
}

#header_the_collective_clicked {
	left:1254px;
	top:79px;
	width:293px;
	height:44px;
	background-image:url(../img/header_the_collective_clicked.png);
}

#header_the_team_clicked {
	left:1059px;
	top:79px;
	width:186px;
	height:44px;
	background-image:url(../img/header_the_team_clicked.png);
}

#header_the_work_clicked {
	left:857px;
	top:79px;
	width:192px;
	height:44px;
	background-image:url(../img/header_the_work_clicked.png);
}

#team_copy_m {
	left:86px;
	top:792px;
	width:1104px;
	height:312px;
	background-image:url(../img/team_copy_m.png);
}

#collective_super_m {
	left:142px;
	top:478px;
	width:996px;
	height:331px;
	background-image:url(../img/collective_super_m.png);
}